<!DOCTYPE html>
<html>
	<head>
		<title>Fake Job Posting Predictor</title>
		<!--<link rel="stylesheet" href="../static/style.css" >-->
		<style>
			body {
	font-family: arial;
	background-color: rgba(255, 204, 204, 0.4);
}

h2 {
	text-align: center;
}

.input-container {
	align-items: center;
	align-self: center;
}
		</style>
	</head>
	<body>
		<h2>How does this model work? </h2>

		<p> This is a support-vector machine that predicts if a job posting is fake with a 94% accuracy. The frontend was built using HTML/CSS/Bootstrap. </p>
		
		<p> The link to the dataset can be found <a href="https://www.kaggle.com/shivamb/real-or-fake-fake-jobposting-prediction"> here</a>. </p> <br>
		
		<form action="/" method="get">
			<input type="submit" value="Back to Homepage" style="float: right;">
		</form>

		<br>

	</body>